// ---------------------
// Bits
// ---------------------
html {
    background-color: $color__primary;
}


// ---------------------
// Helpers
// ---------------------
.text-center {
    text-align: center;
}
.underline {
    text-decoration: underline;
}
