<footer class="footer">
        <img src="{{ site.url }}/img/jtg__logo.jpg" alt="{{ site.title }} Character Image" class="footer__img">
        <img src="{{ site.url }}/img/jtg__logo.jpg" alt="{{ site.title }} Character Image" class="footer__bg-img">
		<small class="footer-copyright__body">Copyright &copy; {{ 'now' | date: '%Y' }} - {{ site.title }}</small>
		<div class="footer-copyright__right">
			<a href="https://soundcloud.com/jimmythegiant"><img src="{{ site.url }}/img/socials/soundcloud.svg" alt="soundcloud logo" class="footer__social"></a>
            <a href="https://www.youtube.com/channel/UCWYRT-NhEqkZ_afrqEgxYOQ"><img src="{{ site.url }}/img/socials/youtube.svg" alt="youtube logo" class="footer__social"></a>
            <a href="https://www.facebook.com/jimmythegiantmusic/"><img src="{{ site.url }}/img/socials/instagram.svg" alt="instagram logo" class="footer__social"></a>
            <a href="https://www.instagram.com/jimmythegiantuk/"><img src="{{ site.url }}/img/socials/facebook.svg" alt="facebook logo" class="footer__social"></a>
            <a href="https://twitter.com/jimthegiant"><img src="{{ site.url }}/img/socials/twitter.svg" alt="twitter logo" class="footer__social"></a>
		</div>
</footer>
