// ---------------------
// Layout
// ---------------------
.side-menu {
    position: absolute;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100vh;

    background-color: $color__black;
}

// ---------------------
// Text
// ---------------------
.side-menu__link {
    display: block;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    text-align: center;
    color: $color__primary;
    font-size: 2rem;
}

.menu-icon {
    z-index: 999;
}
